body{font-family: Arial, Helvetica, sans-serif;
    margin-top: 80px;
}

*{margin: 0px;
padding: 0px;}

.flex {display: flex;}


h1{margin: 30px;
    font-size: 36px;}

h2{font-size: 40px;
}

h3{font-size: 20px;}




header{
    order:3;   
    width: 330px;
padding: 30px;
text-align: right;}

.header_container{padding: 15px;}

.name{
border-bottom: 20px solid #FF0054;}

ul{list-style-type: none;}

li{display:inline;}

.linkimg{width: 30px;}




.main{
padding: 25px;}


.capa{width: 30vw;
margin: 30px;}




.fundo {width: 60vw;
margin: 100px auto;
background-color:}

.fundo_img {width: 60vw;}

.video{width: 50vw;}

.seta{color: #FF0054;
width: 50px;
margin: 35px 5px;}



.vermais{display: flex;
margin: 100px auto;}

.verimg{ width: 260px;
margin: 5px; }